.bio{
        -webkit-animation: ani-bio 0.45s ease-out both;
                animation: ani-bio 0.45s ease-out both;
    
    
img{min-height: 100%;
        object-fit: cover;
        object-position: center;
    }
   
}
    






.foto-bio {
    display: flex;
    align-items: center;
}

.foto-bio img {
    min-height: 80%;

}


.carrera-video {
    min-height: 100%;
}

.carrera-video video {
    object-fit: cover;
    min-height: 70%;

}


