
.card-intro-m{
 margin: 1rem auto;
 background-color: $colorPrincipal;
 box-shadow: $sombra;
-webkit-animation: ani-intro 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: ani-intro 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;




}
.tarjetas-m1000 {

    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 4rem;
   
    }
    .tarjeta-m { 
        background-color: white;
      
        margin: 0.5rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        transition: 1s ;
     
        &:hover{
            opacity: 1;
            transform: scale(1.12);
           
        }
        
        img {
            border-radius: 8px 8px 0px 0px;
            overflow: hidden;
            height: 20rem;
            object-fit: cover;
            object-position: center;
            
           
           
        
        }
        .tarjeta-texto-m {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            flex-grow: 1;
            font-family: 'Poppins', sans-serif;

           
    
        }
        
       
    
        
    
    }








