/* ANIMACIONES H1 */

@keyframes animacionx {
    from {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #fbfbfb, 0 4px 0 #f9f9f9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

    }

    to {
        text-shadow: 0 1px 0 #d8d8dd, 0 2px 0 #e3e4f1, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #e7e7ea, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(25, 12, 200, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10pxrgba(0, 0, 0, 0.2), 0 20px rgba(253, 253, 255, 0.998)
    }
}

/* ANIMACIONES TARJETAS GRAND SLAM */


 @-webkit-keyframes cards-ani {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes cards-ani {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
              transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
 /* ----------------------------------------------
-----------------------------------


 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-title {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      @keyframes rotate-title {
        0% {
          -webkit-transform: rotateX(0);
                  transform: rotateX(0);
        }
        100% {
          -webkit-transform: rotateX(-360deg);
                  transform: rotateX(-360deg);
        }
      }
      
      



      
  


// ANIMACIONES MASTERS 1000---------------------------------


 @-webkit-keyframes ani-intro {
        0% {
          -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
                  transform: rotateX(-30deg) translateX(300px) skewX(30deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
                  transform: rotateX(0deg) translateX(0) skewX(0deg);
          opacity: 1;
        }
      }
      @keyframes ani-intro {
        0% {
          -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
                  transform: rotateX(-30deg) translateX(300px) skewX(30deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
                  transform: rotateX(0deg) translateX(0) skewX(0deg);
          opacity: 1;
        }

}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-28 3:35:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes ani-rebota {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      @keyframes ani-rebota {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
                  transform: scale3d(1.25, 0.75, 1);
        }
        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
                  transform: scale3d(0.75, 1.25, 1);
        }
        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
                  transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
                  transform: scale3d(0.95, 1.05, 1);
        }
        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
                  transform: scale3d(1.05, 0.95, 1);
        }
        100% {
          -webkit-transform: scale3d(1, 1, 1);
                  transform: scale3d(1, 1, 1);
        }
      }
      
      

// ANIMACIONES BIOGRAFIA // ---------------

      /* ----------------------------------------------
 * Generated by Animista on 2023-5-27 23:26:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
@-webkit-keyframes ani-bio {
        0% {
          -webkit-transform: translateZ(-800px) rotateY(90deg);
                  transform: translateZ(-800px) rotateY(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateY(87deg);
                  transform: translateZ(-160px) rotateY(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
      }
      @keyframes ani-bio  {
        0% {
          -webkit-transform: translateZ(-800px) rotateY(90deg);
                  transform: translateZ(-800px) rotateY(90deg);
          opacity: 0;
        }
        54% {
          -webkit-transform: translateZ(-160px) rotateY(87deg);
                  transform: translateZ(-160px) rotateY(87deg);
          opacity: 1;
        }
        100% {
          -webkit-transform: translateZ(0) rotateY(0);
                  transform: translateZ(0) rotateY(0);
        }
      }
      
//       ANIMACIONES COPA DAVIS



 @-webkit-keyframes ani-davis {
        0% {
          -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes ani-davis {
        0% {
          -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
                  transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
          -webkit-transform-origin: 0% 50%;
                  transform-origin: 0% 50%;
          -webkit-filter: blur(40px);
                  filter: blur(40px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0) scaleY(1) scaleX(1);
                  transform: translateX(0) scaleY(1) scaleX(1);
          -webkit-transform-origin: 50% 50%;
                  transform-origin: 50% 50%;
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      