@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,500&display=swap');
  
/* ANIMACIONES H1 */

@keyframes animacionx {
    from {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #fbfbfb, 0 4px 0 #f9f9f9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);

    }

    to {
        text-shadow: 0 1px 0 #d8d8dd, 0 2px 0 #e3e4f1, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #e7e7ea, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(25, 12, 200, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10pxrgba(0, 0, 0, 0.2), 0 20px rgba(253, 253, 255, 0.998)
    }
}

/* -------------------------------------------------------- */


  

/* RESET */
* {
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
/* -----------------GLOBALES----------------- */

main,footer{
    font-family: 'Roboto', sans-serif;

}

img {
    width: 100%;
    display: block;
   
}



video {
    width: 100%;
}

body {

    background-color: rgb(170, 21, 21);
   
    
}

/*--------------- menu y titulo---------- */
header {
    font-family: 'Libre Bodoni', serif;
    display: flex;
}

.logo {

    display: flex;
    border: 0.1rem solid black;
    border-right: 0;
}

.logo a {
    background-color: rgb(253, 253, 253);

}

.logo img {
    max-height: 12rem;


}

.menu-titulo {
    flex-grow: 1;
    border: 0.1rem solid black;

}

.titulo h1 {
    font-size: 5.6rem;
    text-align: center;
    padding-bottom: 0.2rem;
    animation: animacionx 2s infinite;

}

.titulo {
    background-color: rgb(170, 21, 21);
    border-bottom: 0;
    padding: 0.5rem;


}


.navh{
    border-top: 0.1rem solid black;
}

.menuh{
    flex-grow: 1;

}
.menuh a{
    border-radius: 2%;
    padding: 1rem;
    color: black;
}
.menuh a:hover{
background-color:rgb(183, 21, 0) ;
color: rgb(255, 255, 255);
border-radius: 5%;
}


.cont-video video {
   max-height:80vh;
    object-fit: cover;
    border-bottom: 5px solid rgb(252, 250, 250);
    
  
}

/* CUADROS GRID PARA IMAGENES CON FRASE -INDEX */
.collage img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.collage{
    background-color: rgb(170, 21, 21);
    margin-bottom: 0.5rem;
    
}

.cuadros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cuadro1 frase frase cuadro4"
        "cuadro5  cuadro2 cuadro3 cuadro6 ";
        gap: 0.8rem;
       
}

.cuadro1 {
    grid-area: cuadro1;
}

.cuadro2 {
    grid-area: cuadro2;
}

.cuadro3 {
    grid-area: cuadro3;
}

.cuadro4 {
    grid-area: cuadro4;
}

.cuadro5 {
    grid-area: cuadro5;
}

.cuadro6 {
    grid-area: cuadro6;
}



.frase {
    background-image: url(../img/llora2.jpg);
    grid-area: frase;
    padding: 9rem;
    background-size: cover;
    opacity: .8;
    border: solid 5px white;
   
 
  
    


}

.frase h3 {
    font-family: 'Righteous', cursive;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 1rem;
    
  

}


.video-p-2 video{
    object-fit: cover;
    max-height: 85vh;
    border: 5px solid rgb(255, 255, 255);
   

}

/* FOOTER */

.alineacion{
    text-decoration: none;
   
    
}
/* --------------------BIOGRAFIA----------------------------- */
.bio img{
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}
.foto-bio{
    display: flex;
    align-items: center;
}
.foto-bio img{
    min-height: 80%;
  
}


.carrera-video {
    background-color: aqua;
    min-height: 100%;
}
.carrera-video video{
    object-fit: cover;
    min-height: 70%;

}
/* copa davis tarjeta */
.tarjeta-copa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tarjeta-copa img{
  height: 50vh;
}
/*---------------------- GRAND SLAM -----------------------*/
.grafico-i{
    max-width: 40rem;
}
.tarjetas-gs{
   
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.2rem;
    padding: 1rem;
}
.tarjeta{
    background-color: #fff;
    margin: 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.tarjeta img{
    border-radius: 8px 8px 0px 0px;
    height: 28rem;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.tarjeta-texto{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: justify;
    border-radius: 8px;
    flex-grow: 1;
}

/* ---------MASTERS 100-------- */


/*-------------------- MEDIA QUERIES - INDEX--------------- */
@media screen and (max-width: 1844px) {
    .cuadros{
        display: flex;
        flex-direction: column;
        
    }
    .frase{
        order:-1;
    }
    .cuadro3{
        display: none;
    }
    .cuadro2{
        display: none;
    }
    .cuadro5{
        display: none;
    }
    .cuadro6{
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .logo {
        display: flex;
        align-items: center;
        background-color: white;
    }
    .logo a {
        padding: 0;
    }

    .logo img {
        max-height: 10rem;
       
    }

    .titulo h1 {
        font-size: 4rem;
    }

  
    .cuadros {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
     
    }
    .frase {
        padding: 2rem;
        order:-1 ;
       
       
    }
    .frase h3{
        font-size: 1.8rem;
    }
   
  
    .cont-video video{
      object-fit: cover;
      object-position:center;
      height: 80vh;
     
    }
    
    }
@media screen and (max-width: 620px) {
    .titulo h1 {
        font-size: 3.5rem;
    }
    .logo img {
        max-height: 7rem;
       
    }


}
@media screen and (max-width: 560px) {
    footer{
        font-size: 0.7rem;
    }

}




@media screen and (max-width: 410px){
    .titulo h1 {
        font-size: 2.8rem;
    }
   .titulo{
    margin: 0;
    padding: 0.5rem;
   } 
   .titulo h1{
    margin: 0;
   }
    
}
@media screen and (max-width: 340px){
    .titulo h1 {
        font-size: 2.3rem;
    }
 
    
}

/*---------------------- MEDIA QUERYS  BIOGRAFIA ---------------------- */
@media screen and (max-width: 1420px ){
    .footer-g{
        display: flex;
        justify-content: center;
        
    }
    .infancia-filas{
        display: flex;
        flex-direction: column;
         margin-top: 1rem;
        
    }
    .infancia-filas div{
      width: 80%;
   
       
    }
    .infancia-filas div img{
        max-height:40vh;
        object-fit: cover;
        object-position: top;
    }
    .carrera-filas-v{
        display: flex;
        flex-direction: column;
        
        
    }
    .carrera-filas-v div{
      width: 80%;
     
   
       
    }
    .carerra-filas-v div img{
        max-height:40vh;
        object-fit: cover;
        object-position: center;
        
    }
    .carrera-filas-1{
        display: flex;
        flex-direction: column;
         margin-top: 1rem;
         align-items: center;
        
    }
    .carrera-filas-1 div{
      width: 80%;
   
       
    }
    .infancia-filas-1 div img{
        max-height:40vh;
        object-fit: cover;
        object-position: center;
    }
    .carrera-filas-2{
        display: flex;
        flex-direction: column;
        align-items: center; 
        
    }
    .carrera-filas-2 div{
      width: 80%;
   
       
    }
    .carrera-filas-2 div img{
        max-height:40vh;
        object-fit: cover;
        object-position: center;
    }
    
}



  

  

   

   

    
 
